extends layout
block content
  .container
    .page-header
        h1 MOS demo
    table#list.table

    form(action="/", method="post", id="order").form-horizontal
        .control-group
        label.control-label customer
        .controls
            input(type="text", name="customerID", value="1")
    
        .control-group
        label.control-label merchant
        .controls
            input(type="text", name="merchantID", value="1")

        .control-group
        label.control-label details
        .controls
            textarea(name="details") pizza:1,coke:2
    
        .control-group
        label.control-label price
        .controls
            input(type="text", name="price", value="12.4")
        .control-group
            input(type="submit", value="Order").btn.btn-primary
    
    script(type='text/javascript')
        $("#order").submit(function(event) {
            /* stop form from submitting normally */
            event.preventDefault(); 
            var $form = $( this );
            console.log(JSON.stringify($form.serializeArray()));
            $.post( "/", {jsonData: JSON.stringify($form.serializeArray())}, 
                function(ret){
                    console.log(ret);
                    location.reload();
                }
            );
        });
        $("document").ready(function(){
            d3.json("/list", function(data){
                var tr = d3.select("#list")
                    .selectAll("order")
                    .data(data)
                    .enter()
                    .append("tr")
                    .attr("id", function(d){return d._id;});
                tr.append("td").text(function(d){return d.utc;});
                tr.append("td").text(function(d){return d.type;});
                tr.append("td").text(function(d){return "$"+d.price;});
                tr.append("td")
                    .append("btn")
                    .attr("class", "btn btn-link")
                    .append("i")
                    .attr("class", "icon-remove")
                    .on("click", function(d){
                        $.get("/remove", {id:d._id}, function(dd){
                            console.log("remove"+dd._id);
                            $("tr#"+dd._id).fadeOut("slow");
                        });
                    });
                tr.on("click", function(d){
                    console.log(d);
                });
            });
        });
